    body {
        margin: 0px;
    }
    
    header {
        height: 500px;
        background-image: url("../site2/images/windrader-474576_1280.jpg");
        background-size: 1920px 500px;
        display: flex;
        justify-content: center;
    }
    
    h1 {
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
    }
    
    nav {
        background-color: #496C0F;
    }
    
    ul {
        display: flex;
        justify-content: space-around;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 40px;
        align-items: center;
    }
    
    li {
        display: inline-flex;
        color: white;
        font-size: 25px;
    }
    
    a {
        text-decoration: none;
    }
    
    div {
        border: 10px solid #8AA9D9;
        background-color: #C8E2EB;
        overflow: auto;
        padding: 2px;
    }
    
    p {
        font-size: 25px;
        padding: 2px;
        font-family: 'Kreon', serif;
    }
    
    h2 {
        font-size: 35px;
        padding: 2px;
        text-align: center;
    }
    
    .arbustre {
        float: right;
        width: 600px;
        height: 500px;
        padding: 15px;
    }
    
    footer {
        display: flex;
        justify-content: center;
        background-color: #496C0F;
        height: 40px;
        margin-bottom: 0px;
    }
    
    .facebook {
        height: 40px;
        width: 40px;
    }
    
    .pied {
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-right: 90px;
        align-items: center;
    }
    
    .twitter {
        height: 40px;
        width: 40px;
    }